aiohttp>=3.13.2
asgiref>=3.10.0
astroid>=4.0.2
dill>=0.4.0
joblib>=1.5.2
legacy-cgi>=2.6.4 # for django
mccabe>=0.7.0
mpmath>=1.3.0 # for django
nltk>=3.9.2
numpy>=2.3.4
pandas>=2.3.3
pickle-mixin>=1.0.2
pydantic>=2.12.4
pytest>=9.0.1
requests>=2.32.5
ripgrep>=15.0.0
scipy>=1.16.3
setuptools>=70.0.0 # for django
sqlparse>=0.5.3
tblib>=3.2.2
toml>=0.10.2
tomlkit>=0.13.3
tox>=4.32.0
urllib3>=2.5.0
